<h2>Pages</h2>
<div class="container">
    <div class="row">
        <div class="form-group col-md-4">
            <!-- Search Bar -->
            <label class="glyphicon glyphicon-search"></label><input type="text"
                class="form-control glyphicon glyphicon-search" [(ngModel)]="searchTerm" (input)="filterPages()"
                placeholder="Search by name">

        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-10">
            <a href="/page-detail/new">Add a new Page</a>
            <mat-table #table [dataSource]="dataSource2" matSort="sort">
                <ng-container matColumnDef="page">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Page </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.page}} </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>

            <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true">
            </mat-paginator>            
        </div>
        
    </div>
</div>