<header>
  <mat-toolbar class="example-header">
    <a routerLink="/" class="logo"></a>
    <a class="navbar-brand" href="#">{{title}}</a>
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"></script>

    <span class="example-spacer"></span>
    <a class="links side small text-info" routerLink="/auth/login" *ngIf="!user">Login</a>
    <a class="links side small text-info" routerLink="/auth/register" *ngIf="!user">Register</a>
    <button mat-button id="rightMenuBtn" [matMenuTriggerFor]="rightmenu" #rightMenuTrigger="matMenuTrigger">
      <mat-icon>menu</mat-icon>
    </button>
    <a class="links side small text-info" routerLink="/auth/profile" *ngIf="user">Manage Profile</a>
    <div>

      <p class="links side small text-info" *ngIf="user">
        <mat-icon *ngIf="!user.picture && !user.picData">account_circle</mat-icon><img *ngIf="user.picData" id="image"
          alt="Dynamic Image" width="64px" height="64px" src="data:image/png;base64,{{ user.picData }}" /><img
          *ngIf="user.picture" alt="user image" src={{user.picture}} width="64" height="64" /><span
          *ngIf="user.name">Welcome, {{ user.name.first }} {{ user.name.last }}</span><span
          *ngIf="!user.name && user.fullname">Welcome, {{user.fullname}}</span>
      </p>

      <mat-menu mode="over" #rightmenu="matMenu">

        <button *ngIf="user" mat-menu-item (click)="logout()">Sign Out</button>
        <div>
          <a mat-menu-item routerLink="/" routerLinkActive="active"><mat-icon>home</mat-icon>
            <span>Home</span></a>
          <a mat-menu-item *ngIf="user?.roles?.includes('nurse') || user?.roles?.includes('admin')" routerLink="/bills"
            routerLinkActive="active"><mat-icon>money</mat-icon>
            <span>Manage Billing</span></a>
          <a mat-menu-item *ngIf="user?.isAdmin" routerLink="/doctors"
            routerLinkActive="active"><mat-icon>local_hospital</mat-icon>
            <span>Manage Doctors</span></a>
          <a mat-menu-item *ngIf="user?.roles?.includes('nurse') || user?.roles?.includes('admin')"
            routerLink="/records" routerLinkActive="active"><mat-icon>fiber_smart_record</mat-icon>
            <span>Manage Records</span></a>
          <a mat-menu-item *ngIf="user" routerLink="/patients" routerLinkActive="active"><mat-icon>person_outline</mat-icon>
            <span>Manage Patients</span></a>
          <a mat-menu-item *ngIf="user?.isAdmin" routerLink="/users"
            routerLinkActive="active"><mat-icon>supervised_user_circle</mat-icon>
            <span>Manage Users</span></a>
          <a mat-menu-item *ngIf="user?.isAdmin" routerLink="/roles"
            routerLinkActive="active"><mat-icon>card_membership</mat-icon>
            <span>Manage Roles</span></a>
          <a mat-menu-item *ngIf="user?.isAdmin" routerLink="/roleactionmaps"
            routerLinkActive="active"><mat-icon>perm_data_setting</mat-icon>
            <span>Manage Permissions</span></a>
          <a mat-menu-item *ngIf="user?.roles?.includes('doctor')" routerLink="/manageschedule"
            routerLinkActive="active"><mat-icon>calendar_today</mat-icon>
            <span>Manage My Schedule</span></a>
          <a mat-menu-item *ngIf="user?.isAdmin" routerLink="/auditlogs"
            routerLinkActive="active"><mat-icon>track_changes</mat-icon>
            <span>Manage Audit Logs</span></a>
        </div>
      </mat-menu>
    </div>
  </mat-toolbar>


  <mat-sidenav-container>

    <mat-sidenav #sidenav mode="side" opened [style.width]="sidenavWidth" [style.height]="'100%'">

      <mat-nav-list>
        <a mat-list-item routerLink="/" routerLinkActive="active"><mat-icon>home</mat-icon>
        </a>
        <a mat-list-item *ngIf="user?.roles?.includes('nurse') || user?.roles?.includes('admin')" routerLink="/bills"
          routerLinkActive="active"><mat-icon>money</mat-icon>
        </a>
        <a mat-list-item *ngIf="user?.isAdmin" routerLink="/doctors"
          routerLinkActive="active"><mat-icon>local_hospital</mat-icon>
        </a>
        <a mat-list-item *ngIf="user?.roles?.includes('nurse') || user?.roles?.includes('admin')" routerLink="/records"
          routerLinkActive="active"><mat-icon>fiber_smart_record</mat-icon>
        </a>
        <a mat-list-item routerLink="/patients" routerLinkActive="active"><mat-icon>person_outline</mat-icon>
        </a>
        <a mat-list-item *ngIf="user?.isAdmin" routerLink="/users"
          routerLinkActive="active"><mat-icon>supervised_user_circle</mat-icon>
        </a>
        <a mat-list-item *ngIf="user?.isAdmin" routerLink="/roles"
          routerLinkActive="active"><mat-icon>card_membership</mat-icon>
        </a>
        <a mat-list-item *ngIf="user?.isAdmin" routerLink="/roleactionmaps"
          routerLinkActive="active"><mat-icon>perm_data_setting</mat-icon>
        </a>
        <a mat-list-item *ngIf="user?.roles?.includes('doctor')" routerLink="/manageschedule"
          routerLinkActive="active"><mat-icon>calendar_today</mat-icon>
        </a>
        <a mat-list-item *ngIf="user?.isAdmin" routerLink="/auditlogs"
          routerLinkActive="active"><mat-icon>track_changes</mat-icon>
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <div>
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-container>

  <div class="fixed-toolbar">
    <h6 *ngIf="user?.roles != null && user?.roles?.length! > 0">You are:
      {{user?.roles?.join(',')}}</h6>
    <a routerLink="/sendemail">Contact System Administrator</a>&nbsp;<a routerLink="/help">Help</a>
  </div>

</header>