<header>
  <mat-toolbar class="example-header">
    <a routerLink="/" class="logo"></a>
    <a class="navbar-brand" href="#">{{title}}</a>
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"></script>

    <span class="example-spacer"></span>
    <a class="links side" routerLink="/auth/login" *ngIf="!user">Login</a>
    <a class="links side" routerLink="/auth/register" *ngIf="!user">Register</a>
    <a class="links side" routerLink="/auth/profile" *ngIf="user">Manage Profile</a>
    <div>
      <a class="links side" *ngIf="user" [matMenuTriggerFor]="menu">
        <mat-icon *ngIf="!user.picture && !user.picData">account_circle</mat-icon><img *ngIf="user.picData" id="image"
          alt="Dynamic Image" width="64px" height="64px" src="data:image/png;base64,{{ user.picData }}" /><img
          *ngIf="user.picture" alt="user image" src={{user.picture}} width="64" height="64" /><span *ngIf="user.name">Welcome, {{ user.name.first }} {{ user.name.last  }}</span><span *ngIf="!user.name && user.fullname">Welcome, {{user.fullname}}</span>
      </a>
      <mat-menu #menu="matMenu">

        <button mat-menu-item (click)="logout()">Sign Out</button>
      </mat-menu>
    </div>
  </mat-toolbar>

  <mat-sidenav-container>
    <mat-sidenav #sidenav mode="side">
      <mat-nav-list>
        <a mat-list-item routerLink="/" routerLinkActive="active">Home</a>
        <a mat-list-item *ngIf="user?.roles?.includes('nurse') || user?.roles?.includes('admin')" routerLink="/bills" routerLinkActive="active">Manage Billing</a>
        <a mat-list-item *ngIf="user?.isAdmin" routerLink="/doctors" routerLinkActive="active">Manage Doctors</a>
        <a mat-list-item *ngIf="user?.roles?.includes('nurse') || user?.roles?.includes('admin')" routerLink="/records" routerLinkActive="active">Manage Records</a>
        <a mat-list-item routerLink="/patients" routerLinkActive="active">Manage Patients</a>
        <a mat-list-item *ngIf="user?.isAdmin" routerLink="/users" routerLinkActive="active">Manage Users</a>
        <a mat-list-item *ngIf="user?.isAdmin" routerLink="/roles" routerLinkActive="active">Manage Roles</a>
        <a mat-list-item *ngIf="user?.isAdmin" routerLink="/roleactionmaps" routerLinkActive="active">Manage
          Permissions</a>
        <a mat-list-item *ngIf="user?.roles?.includes('doctor')" routerLink="/manageschedule"
          routerLinkActive="active">Manage
          My Schedule</a>
        <a mat-list-item *ngIf="user?.isAdmin" routerLink="/auditlogs" routerLinkActive="active">Manage Audit Logs</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <button matButton (click)="sidenav.toggle()"><mat-icon color="">menu</mat-icon></button>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>

  <div class="fixed-toolbar">
    <h6 *ngIf="user?.roles != null && user?.roles?.length! > 0">You are:
      {{user?.roles?.join(',')}}</h6>
    <a routerLink="/sendemail">Contact System Administrator</a>&nbsp;<a routerLink="/help">Help</a>
  </div>

</header>