<div class="container">
    <div class="row">

        <div class="col-md-8">
            <h3>Reset Password</h3>
            <form [formGroup]="userDetailForm" [noValidate]="false" (ngSubmit)="resetPassword()">
                <div class="container">
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label for="password">Enter New Password</label>
                            <input class="form-control" type="password" formControlName="password" id="password" placeholder="password" required>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-md-3 btn-group">
                            <button data-testid="save-button" type="submit" class="btn btn-primary">Reset
                                Password</button>
                        </div>
                    </div>
                </div>
            </form>
            <a routerLink="/">Cancel</a>
            <hr />
            <a class="links side" routerLink="/auth/login">Login</a>
        </div>
    </div>
</div>