<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h2>My Heroes</h2>
    </div>
    <!-- <div class="col-md-4"><a class="btn btn-success" style="margin-top: 10px;" (click)="gotoDetail(true)">Add New
        Hero</a></div> -->

  </div>
  <div class="row">
    <div class="col-md-4">
      <button class="btn btn-success" style="margin-bottom: 10px;" (click)="getHeroes()">
        Load Heroes
      </button>
    </div>


  </div>
  <div class="row">
    <div class="col-md-8">
      <mat-table class="mat-elevation-z8" [dataSource]="ds">

        <!-- <ng-container matColumnDef="id" >
          <mat-header-cell class="mat-header-cell" *matHeaderCellDef>ID</mat-header-cell>
          <mat-cell class="link" *matCellDef="let hero" (click)="onSelect(hero)"
            [class.selected]="hero === selectedHero">{{hero.id}}</mat-cell>
        </ng-container> -->

        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
          <mat-cell class="link" *matCellDef="let hero" (click)="onSelect(hero)"
            [class.selected]="hero === selectedHero">{{hero.name}}</mat-cell>

        </ng-container>



        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

      </mat-table>
      <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[2,5, 10, 20]" [showFirstLastButtons]="true">
      </mat-paginator>

    </div>
    <div class="col-md-4">
      <button class="btn btn-primary" (click)="addHero()">Add New Hero</button>

      <div *ngIf="addingHero">
        <my-hero-detail (closeTheHeroSaveDlg)="closedSaveHeroDlg($event)"></my-hero-detail>
      </div>

      <div *ngIf="selectedHero">
        <h2>
          {{selectedHero.name }} is my hero
        </h2>
        <button class="btn btn-primary" (click)="gotoDetail(false)">View Details</button>
      </div>
    </div>
  </div>


  <div class="loading" *ngIf="loading$ | async">
    <h3>Please wait...</h3>
    <div class="spinner"></div>
  </div>
  <div class="error" *ngIf="error">{{error}}</div>
  <br>


  <div>
    <style>
      .hidden {
        visibility: hidden
      }
    </style>

  </div>
</div>