/* label {
  display: inline-block;
  width: 3em;
  margin: .5em 0;
  color: #607D8B;
  color: rgb(0,120,215);
  font-weight: bold;
}
input {
  height: 2em;
  font-size: 1em;
  padding-left: .4em;
}
button {
  margin-top: 20px;
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer; cursor: hand;
}
button:hover {
  background-color: #cfd8dc;
}
button:disabled {
  background-color: #eee;
  color: #ccc;
  cursor: auto;
} */

button {
  margin-bottom: 20px;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer; cursor: hand;
}

.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

.mat-header-cell.mat-sort-header-sorted {
  color: black;
}

a[disabled], a[disabled]:hover {
   pointer-events: none;
   color: #e1e1e1;
}

button[disabled], button[disabled]:hover {
   pointer-events: none;
   color: #e1e1e1;
}

.mat-table{
  background-color: cyan;
}

.bold-header {
  font-weight: bold;
}



.mat-column-oldvalue {
   word-break: break-word;
   min-width: 150px;
}

.mat-column-newvalue {
   word-break: break-word;
   min-width: 150px;
}

.mat-column-email {
   word-break: break-word;
   min-width: 100px;
}

.mat-column-createdAt {
   word-break: break-word;
   min-width: 200px;
}
