<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<a class="navbar-brand" href="#">Hospital Management System</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
		aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item">
				<a class="nav-link" routerLink="/dashboard" routerLinkActive="active"
					ariaCurrentWhenActive="page">Dashboard</a>
			</li>
			
			<li class="nav-item">
				<a class="nav-link" routerLink="/patients" routerLinkActive="active"
					ariaCurrentWhenActive="page">Patients</a>
			</li>
			
		</ul>

	</div>
</nav>
<!-- This nav gives you links to click, which tells the router which route to use (defined in the routes constant in  AppRoutingModule) -->
<div class="container">
	<router-outlet></router-outlet>

</div>