<div class="container">
    <div class="row">

        <div class="col-md-4">
            <h3>Modify an Existing Doctor</h3>
            <form [formGroup]="detailForm" [noValidate]="false" (ngSubmit)="update()">
                <div class="container">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="firstName">First Name</label>
                            <input #firstName (input)="onFirstNameChange(firstName.value)" class="form-control"
                                formControlName="firstName" id="firstName" placeholder="First Name"
                                style="width: 200px;" required>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="lastName">Last Name</label>
                            <input #lastName (input)="onLastNameChange(lastName.value)" class="form-control" formControlName="lastName" id="lastName" placeholder="Last Name"
                                style="width: 200px;" required>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label for="dob">Birth Date</label>
                            <input #dobField (input)="onDobChange(dobField.value)" formControlName="dob" id="dob" class="form-control" type="date">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="gender">Gender</label>
                            <select #gender (change)="onGenderChange(gender.value)" class="form-control" formControlName="gender" id="gender" title="Gender" required>
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                                <option value="nodisclosure">No Disclosure</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label for="phone">Phone</label>
                            <input #phoneField (input)="onPhoneChange(phoneField.value)" formControlName="phone" class="form-control" id="phone" type="tel" required
                                pattern="\+?[0-9]{1,3}-?[0-9]{10}" placeholder="+91-12345 67890">
                        </div>

                        <div class="form-group col-md-4">
                            <label for="address">Address</label>
                            <input #addressField (input)="onAddressChange(addressField.value)" formControlName="address" class="form-control" type="text" id="address"
                                placeholder="Address" style="width: 300px;" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label for="email">Email</label>
                            <input #emailField (input)="onEmailChange(emailField.value)" formControlName="email" class="form-control" type="email" id="email"
                                placeholder="Email" style="width: 300px;">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label for="specialization">Specialization</label>
                            <input #specializationField formControlName="specialization" class="form-control" type="text" id="specialization"
                                placeholder="Specialization" style="width: 300px;">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label for="email">Qualification</label>
                            <input #qualificationField formControlName="qualification" class="form-control" type="text" id="qualification"
                                placeholder="Qualification" style="width: 300px;">
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-md-3 btn-group">
                            <button [myDisableIfUnauthorized]="updatePermissionRequest" data-testid="save-button"
                                type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </div>
                </div>
            </form>
            <a href="/doctors">Cancel</a>
        </div>
    </div>
</div>