<div class="container">
    <div class="row">

        <div class="col-md-8">
            <h3>Add a New Role</h3>
            <form [formGroup]="roleDetailForm" [noValidate]="false" (ngSubmit)="createRole()">
                <div class="container">
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label for="role">Role</label>
                            <input class="form-control" formControlName="role" id="role" placeholder="role"
                                required>
                        </div>
                       <div class="form-group col-md-4">
                            <label for="desc">Description</label>
                            <input class="form-control" formControlName="desc" id="desc" placeholder="Description"
                                required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 btn-group">
                            <button data-testid="save-button" type="submit" class="btn btn-primary">Save</button>
                        </div>
                        <div class="col-md-3 btn-group">
                            <button routerLink="/roles" data-testid="cancel-button" type="button" class="btn btn-danger">Cancel</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>