
<div class="container">
    <div class="row">
        <div class="form-group col-md-4">
            <h2>Roles</h2>
            <!-- Search Bar -->
            <label class="glyphicon glyphicon-search"></label><input type="text"
                class="form-control glyphicon glyphicon-search" [(ngModel)]="searchTerm" (input)="filterRoles()"
                placeholder="Search by name">

        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <a href="/role-detail/new">Add a new role</a>
            <hr />
            <mat-table class="mat-table" #table [dataSource]="dataSource2" matSort="sort">
                <ng-container matColumnDef="role">
                    <mat-header-cell class="bold-header" *matHeaderCellDef mat-sort-header> Role </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.role}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="desc">
                    <mat-header-cell class="bold-header" *matHeaderCellDef mat-sort-header> Description </mat-header-cell>
                    <mat-cell  *matCellDef="let element"> <span>{{element.desc}}</span> </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>

            <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true">
            </mat-paginator>            
        </div>
        
    </div>
</div>