<h3>Top Heroes</h3>
<div class="grid grid-pad">
  <table class="table table-bordered">
    <thead>
      <tr>
        <!-- <td>Id</td> -->
        <td>Name</td>
        <td></td>
      </tr>
    </thead>
    <tbody>

        <tr *ngFor="let hero of heroes" class="col-1-4">
          <!-- <td>{{hero.id}}</td> -->
          <td>{{hero.name}}</td>
          <td><button class="btn btn-info" (click)="gotoDetail(hero)">Select Hero</button> </td>
        </tr>
      

    </tbody>
  </table>
  
</div>
<!-- <my-hero-search></my-hero-search> -->
